extends layout

block content
  h1= title
  p Make some noise, talk into your microphone and watch the graph tracking the volume in (almost) real time
  canvas#meter(width='500', height='100')
  canvas#plot(width='400', height='100')
  p Stack of development: Node, Express, Jade, Bootstrap, Html5 (WebRTC)
  p Libraries: Volume-meter, Smoothie.js

  